$maincolor: #aaa;
$subcolor: #eee;
$white: #fff;
$black: #000;
$twi: #1da1f2;
$insta: #cf2e92;
$facebook: #4267b2;
$tumblr: #39475d;
$youtube: #da1725;

/*－－－－－－－－－－ Profile －－－－－－－－－－*/
.profile__img {
  padding: 0 40px;
}

.profile__img img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: auto;
}

.snslist {
  .snslist__item {
    .lab {
      margin: 6px 0px 3px 4px;
      font-size: 2rem;
    }

    a {
      width: 36px;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      background-color: $maincolor;
      border-radius: 50%;
      transition: 0.2s;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -ms-transition: 0.2s;
      -moz-transition: 0.2s;
      color: $white;
    }

    &.twitter a:hover {
      background-color: $twi;
    }

    &.instagram a:hover {
      background-color: $insta;
    }

    &.facebook a:hover {
      background-color: $facebook;
    }

    &.youtube a:hover {
      background-color: $youtube;
    }
  }

  @media screen and (max-width: 520px) {
    justify-content: center;
  }
}
