@import url(style.css);
@import url(main.js);


@media screen and (max-width: 720px) {
    
    nav {
        padding: 1.5rem 1rem;
    }

    nav ul {
        position: fixed;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.25s ease-in;
    }

    nav ul li {
        margin: 8px;
    }

    .burger {
        display: block;
    }

    nav ul.show {
        transform: translateX(0);
    }

    .tap {
        margin-top: -4rem;
        flex-direction: column;
        gap: 0;
    }

    .tap img {
        height: 37.5rem;
        width: 30rem;
    }

    .bio {
        margin-top: 7rem;
        width: 20.5rem;
    }

    .icon {
        width: 5.75rem;
        height: 5.25rem;
    }


    
}