@import 'https://fonts.googleapis.com/css?family=Katibeh';

$bkp-medium: 560px;
$bkp-large: 760px;

body{
  margin:0;
  padding:0;
  color: #6a757a;
  font-family: arial;
  font-weight: normal;
  background-color:#f2ede1;
  -webkit-font-smoothing: antialiased;
}

a{
    &:link, &:visited, &:active{
      color:#B29F7B;
      display:inline-block;
      font-size:1;
      letter-spacing:.12em;
      text-decoration:none;
      text-transform:uppercase;
    }
    &:after{
      display:block;
      content: '';
      border-bottom: solid 2px #B29F7B;  
      transform: scaleX(0.0001);  
      transition: transform 250ms ease-in-out;
     }
    &:hover:after{
      transform: scaleX(1);
    }
  
  }

.spacer{
  font-size:20px;
  font-family:arial;
  display:block;
  clear:both;
  min-height: 580px;
  max-width:700px;
  width: 80%;
  margin:0 auto;
  padding:80px 20px;
  h1{
    font-family: 'Katibeh', cursive;
    font-size:50px;
    line-height:40px;
    font-weight:normal;
    margin:0;
    padding:0;
  }
  p{
    line-height:30px;
  }
}

.info-box{
  background-color: #B29F7B;
  position:relative;
  color:#fff;
}
  .content{
    font-size: 16px;
    line-height: 24px;
    letter-spacing:1px;
    font-weight:normal;
    display:none;
    padding: 60px 25px 25px 25px;
    p{
      max-width:600px;
      margin:20px auto;
    }
  }

.toggle{
    font-size:20px;
    font-family:arial;
    color: #B29F7B;
    border:2px solid;
    padding:5px 10px;
    border-radius:80px;
    cursor:pointer;
    font-weight:bold;
    transition: color ease-out .8s;
     &:before{
       content:"";
       overflow:hidden;
       font-size:0;
       -webkit-transition: font-size .2s;
       transition: font-size .2s;
       transition-timing-function: linear;
     }
    
    
    //  FIXING STUCK HOVER STATE ON MOBILE
    &:hover:not(.open){
      &:before{
        font-size:0em;
        @media screen and (min-width: $bkp-medium) {
            font-size:.65em;
        }
      }
    }
  }

.intro, .footer{
    position:absolute;
    top:.6em;
    right:.6em;
    margin-bottom: 40px;
}


.intro{
    &:hover:before, &.open:before, &:before{
      font-size:.65em;
      content:"How do I get around ";
    }
     &:before{
        font-size:0;
    }
  }
.footer{
  &:hover:before, &.open:before, &:before{
      font-size:.65em;
      content:"What is this ";
    }
     &:before{
        font-size:0;
    }
}
  .toggle.open{
    color:#fff;
    transition: color ease-out .1s;
  }